/* Navigation Menu Styles */

.nav-container{
    h3{
        @media(max-width: 500px){
            display: none;
        }
    }
    background: green;
    padding: 0 16px;
    nav{
        ul{
            list-style: none;
            padding-left: 0;
            li{
                display: flex;
                gap: 8px;
                @media(max-width: 500px){
                    gap: 16px;
                }
                padding: 8px 0;
                align-items: center;
                svg {
                    width: 16px;
                    height: 16px;
                    @media(max-width: 500px){
                        width: 24px;
                        height: 24px;
                    }
                    path{
                        fill: white;
                    }
                }
                .menu-item-name{
                    @media(max-width: 500px){
                        display: none;
                    }
                    margin: 0;
                    padding: 0;
                    text-transform: capitalize;
                }
            }
        }
    }
    .placeholder-img{
        width: 30px;
        height: 30px;
        background: pink;
    }
}

