/* SideBar Component Styles */

@use "../../theme" as *;

.sidebar{
    padding: 16px;
    background-color: rgba($theme_grey, 0.3);
    border-radius: 16px;
    color: $theme_black;
    #user-header{
        display: flex;
        gap: 16px;
        justify-content: space-between;
        align-items: center;
        #icons-container{
            display: flex;
            align-items: center;
            gap: 16px;
            svg path{
                fill: $theme_black;
            }
        }
        #user-info{
            display: flex;
            align-items: center;
            gap: 16px;
            h3{
                margin: 0;
            }
            .placeholder-img{
                border-radius: 50%;
                background-color: $theme_teal;
            }
        }
    }
    #gpa-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .subheading{
            align-self: flex-start;
        }
    }
    section#discussion{
        .posts-container{
            .header{
                margin: 8px 0;
                display: flex;
                gap: 8px;
                align-items: center;
                h3{
                    margin: 0;
                    text-transform: capitalize;
                }
                .placeholder-img{
                    border-radius: 50%;
                }
            }
        }
    }
    .placeholder-img{
        width: 30px;
        height: 30px;
        background: $theme_teal;
    }
    .placeholder-thumbnail{
        width: 100%;
        height: 150px;
        background: $theme_grey;
        border-radius: 8px;
    }
}

