/* Home Page styles */

$max_width: 1500px;
$max_width: 1310px;
$max_width: 1150px;
$max_width: 1050px;
$max_width: 950px;
$max_width: 800px;
$max_width: 700px;

#home-page{
    padding: 16px;
    background: teal;
    display: grid;
    gap: 16px;
    grid-template-areas:
        "row1"
        "row2"
    ;
    @media( min-width: 1200px){
        grid-template-areas: none;
        grid-template-columns: 3fr 1fr;
    }
    & > *:first-child{
        background: pink;
        grid-area: row2;
        @media( min-width: 1200px){
            grid-area: auto;
        }
    }
    & > *:last-child{
        grid-area: row1;
        @media( min-width: 1200px){
            grid-area: auto;
        }
    }
    .courses-container{
        display: grid;
        gap: 16px;
        background: red;
        @media( min-width: 1200px){
            grid-template-columns: repeat(5, minmax(150px, 1fr));
            grid-template-rows: repeat(2, 150px);
            grid-template-areas:
                "c1 c3 c3 c4 c5"
                "c2 c3 c3 c6 c6"
            ;
        }
        .course-item{
            padding: 16px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            background: blue;
            .course-name{
                margin: 0;
            }
        }
    }
}
