/* ProgressCircle Component Styles */

@use "../../theme" as *;

$circle_size: 100px;

.progress-circle{
    width: $circle_size;
    height: $circle_size;
    background-color: $theme_grey;
    border-radius: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        $size: 80px;
        content: "";
        position: absolute;
        width: $size;
        height: $size;
        inset: calc(($circle_size - $size) / 2);
        border-radius: 50%;
        background: $theme_white;
    }
    h3{
        position: relative;
        font-size: 30px;
        color: $theme_blue;
    }
}
